@font-face {
    font-family: 'Nunito';
    src: url('@/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

%nunito-normal {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 16px;
}