//colors
$background-primary-color: #fff;
$background-secondary-color: #F2F2F2;

$primary-color: #0074d9;
$secondary-color: #7fdbff;
$accent-color: #39cccc;

$primary-text-color: #333333;

$global-padding: 2rem;