//colors
$background-primary-color: #fff;
$background-secondary-color: #F2F2F2;

$primary-color: #333333;
$secondary-color: #7fdbff;
$accent-color: #bb0a30;

$success-color: #009900;
$warning-color: #ffaa00;
$error-color: red;


$global-padding: 16px;