.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    background-color: var(--primary-color);
    height: 100%;
    color: white;
    padding: var(--global-padding);
}